{% extends 'disecto/base.html' %}
{% block content %}
<div class="columns is-centered has-text-centered">
    <div class="column is-half">
        <div class="card has-background-white-ter">
            <h1 class="title is-3"></h1>
        </div>
    </div>
</div>
<form action="{% url 'disecto:invoice-list' %}" method="post">{% csrf_token %}
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                All Orders / Change Order Status &nbsp;<button class="button is-rounded is-success">
                    <a href="{% url 'disecto:invoice-create' %}" class="has-text-white">Create Invoice</a></button>
                    <button class="button is-rounded is-info" style="margin-left: 5px;">
                        <a href="{% url 'disecto:Home' %}" class="has-text-white">Home</a></button>
            </p>
        </header>
        <div class="card-content">
            <div class="content">

                <table class="table is-fullwidth is-bordered is-hoverable is-striped">
                    <tbody>
                        <thead>
                            <tr>
                               
                                <th>INVOICE</th>
                                <th>CUSTOMER</th>
                                <th>DATE</th>
                                <th>TOTAL</th>
                                <th>View</th>
                                <th>DOWNLOAD</th>

                            </tr>
                        </thead>
                        {% for invoice in invoices %}
                        <tr>
                            
                            <td width="1%">#{{invoice.id}}</td>
                            <td width="9%">{{invoice.customer}}</td>
                            <td> {{invoice.date}}</td>
                            <td>{{invoice.total_amount}}</td>
                           
                            <td width="1%"><a href="{% url 'disecto:invoice-detail' id=invoice.id %}">
                                <div class="button is-small is-warning">View</div>
                            </a></td>
                            <td width="1%"><a href="{% url 'disecto:invoice-download' id=invoice.id %}">Download</a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div><br /><br /><br />
   
</form>

{% endblock content %}